@use '../../styles/variables' as vars;

.containerMainQuemSomos {
    padding: 50px;
    font-family: vars.$fontPrimary;
    color: #fff;
    background-color: vars.$colorAzul;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (min-width: 1600px) {
        padding: 50px 128px;
    }

    @media (max-width: 1440px) {
        padding: 50px 80px;
        gap: 50px;
    }

    @media (max-width: 1024px) {
        padding: 40px 40px;
        gap: 40px;
    }

    @media (max-width: 768px) {
        padding: 30px 20px;
        gap: 30px;
    }

    h1 {
        margin: 0;
        font-size: 50px;
        font-family: vars.$fontPrimary;
        color: #fff;
        font-weight: vars.$weightBold;
        letter-spacing: 1.5px;
        text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
        width: auto;

        @media (max-width: 1024px) {
            font-size: 48px;
        }

        @media (max-width: 768px) {
            font-size: 36px;
            text-align: center;
        }

        @media (max-width: 480px) {
            font-size: 30px;
        }

        &::after {
            content: '';
            width: 230px;
            display: flex;
            height: 8px;
            position: relative;
            box-shadow: -4px 8px 14.5px rgba(0, 0, 0, 0.5);
            border-radius: 50px;
            background-color: #ffffffd1;

            @media (max-width: 1024px) {
                width: 100%;
                height: 8px;
            }

         
        }
    }

    .containerCards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 48px;

        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 40px;
        }

        .containerCardLeft {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            gap: 35px;

            @media (max-width: 1024px) {
                width: 100%;
                gap: 30px;
            }

            @media (max-width: 768px) {
                gap: 25px;
            }

            .articleQuemSomos {
                display: flex;
                padding: 35px 40px 40px 35px;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
                align-self: stretch;
                border-radius: 25px;
                background: linear-gradient(255deg, #6A8E3E 3.88%, #004D61 100%);
                box-shadow: 10px -3px 23px 0 #A5B884 inset, -22px 29px 13px 0 rgba(0, 0, 0, 0.25);
                color: #FFF;
                font-family: vars.$fontPrimary;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.4;

                @media (max-width: 1024px) {
                    padding: 28px 32px;
                    font-size: 20px;
                    gap: 30px;
                }

                @media (max-width: 768px) {
                    padding: 25px 30px;
                    font-size: 17px;
                    gap: 20px;
                    border-radius: 20px;
                }

                @media (max-width: 480px) {
                    padding: 20px;
                    font-size: 15px;
                }

                p {
                    margin: 0;
                }
            }

            .articleValores {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                gap: 15px;
                align-self: stretch;

                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: 20px;
                }

                .cardValores {
                    display: flex;
                    flex: 1;
                    min-height: 286px;
                    height: auto;
                    padding: 18px 15px;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    border-radius: 25px;
                    background: linear-gradient(216deg, #6A8E3E -4.49%, #004D61 70.3%);
                    box-shadow: 10px -3px 23px 0 #A5B884 inset, -22px 29px 13px 0 rgba(0, 0, 0, 0.25);

                    @media (max-width: 1024px) {
                        min-height: auto;
                        padding: 25px;
                        border-radius: 20px;
                        gap: 8px;
                        width: auto !important;
                    }

                    // @media (max-width: 768px) {
                    //     width: 100%;
                    //     min-height: auto;
                    //     padding: 25px;
                    //     gap: 10px;
                    // }

                    img {
                        padding: 10px;
                        background: vars.$gradienteIconsLaranja;
                        border-radius: 1000px;
                        width: 31px;
                        height: 31px;
                        box-shadow: 9px 6px 6px 0 rgba(255, 246, 246, 0.25) inset;
                        filter: drop-shadow(-9px -3px 7.8px rgba(0, 0, 0, 0.25));

                        @media (max-width: 1024px) {
                            width: 25px;
                            height: 25px;
                            padding: 8px;
                        }

                        @media (max-width: 768px) {
                            width: 38px;
                            height: 38px;
                            padding: 10px;
                        }
                    }

                    span {
                        color: #FFF;
                        font-family: vars.$fontPrimary;
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 1.5px;

                        @media (max-width: 1024px) {
                            font-size: 22px;
                        }

                        @media (max-width: 768px) {
                            font-size: 24px;
                        }

                        @media (max-width: 480px) {
                            font-size: 20px;
                        }
                    }

                    p {
                        color: #FFF;
                        text-align: center;
                        font-family: vars.$fontPrimary;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.4;
                        letter-spacing: 1px;
                        margin: 0;

                        @media (max-width: 768px) {
                            font-size: 15px;
                        }

                        @media (max-width: 480px) {
                            font-size: 13px;
                        }
                    }
                }
            }

            .ctaQuemSomos {
                color: #FFF;
                font-family: vars.$fontPrimary;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: flex;
                height: 52px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                border: none;
                border-radius: 25px;
                background: linear-gradient(207deg, #6A8E3E 9.59%, #004D61 79.7%);
                box-shadow: 10px -3px 23px 0 #A5B884 inset, -16px 18px 13px 0 rgba(0, 0, 0, 0.25);
                letter-spacing: 1.2px;
                cursor: pointer;
                transition: transform 0.2s ease;
                text-decoration: none;

                &:hover {
                    transform: scale(1.02);
                }

                @media (max-width: 1024px) {
                    font-size: 20px;
                    height: 48px;
                }

                @media (max-width: 768px) {
                    font-size: 17px;
                    height: 50px;
                    border-radius: 20px;
                    padding: 0 20px;
                }

                @media (max-width: 480px) {
                    font-size: 15px;
                    height: 48px;
                }
            }
        }

        .containerCardRight {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            flex: 1;

            @media (max-width: 1024px) {
                width: 100%;
                align-items: center;
            }

            h2 {
                width: auto;
                height: 50px;
                position: relative;
                box-shadow: 10px -3px 23px #a5b884 inset, -8px 12px 13px rgba(0, 0, 0, 0.25);
                border-radius: 25px;
                background: linear-gradient(255.01deg, rgba(106, 142, 62, 0.78), rgba(0, 77, 97, 0.78));
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 21px 48px;
                box-sizing: border-box;
                text-align: center;
                font-size: 26px;
                color: #fff;
                font-family: 'Segoe UI';
                letter-spacing: 1.5px;
                margin: 0;

                @media (max-width: 1024px) {
                    width: auto;
                    min-width: 250px;
                    font-size: 24px;
                    padding: 18px 40px;
                    height: 45px;
                }

                @media (max-width: 768px) {
                    width: auto;
                    font-size: 22px;
                    padding: 15px 35px;
                    border-radius: 20px;
                }

                @media (max-width: 480px) {
                    font-size: 19px;
                    padding: 12px 30px;
                }
            }

            .containerTime {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
            }

            .cardTime {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;

                .articleTime {
                    border-radius: 25px;
                    background: linear-gradient(255deg, rgba(106, 142, 62, 0.78) 3.88%, rgba(0, 77, 97, 0.78) 100%);
                    box-shadow: 10px -3px 23px 0 #A5B884 inset, -22px 29px 13px 0 rgba(0, 0, 0, 0.25);
                    padding: 25px;
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    

                    @media (max-width: 1024px) {
                        padding: 20px;
                        gap: 15px;
                    }

                    @media (max-width: 768px) {
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        padding: 25px 20px;
                        border-radius: 20px;
                    }

                    @media (max-width: 480px) {
                        padding: 20px 15px;
                    }

                    img {
                        width: 100%;
                        max-width: 90px;
                        height: auto;
                        max-height: 90px;
                        border-radius: 1000px;
                        box-shadow: 0px 0px 29.5px rgba(0, 0, 0, 0.5);
                        flex-shrink: 0;

                        @media (max-width: 1024px) {
                            max-width: 80px;
                            max-height: 80px;
                        }

                        @media (max-width: 768px) {
                            max-width: 90px;
                            max-height: 90px;
                        }

                        @media (max-width: 480px) {
                            max-width: 75px;
                            max-height: 75px;
                        }
                    }

                    .infosPessoa {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        flex: 1;

                        @media (max-width: 768px) {
                            align-items: center;
                        }

                        span {
                            font-size: 22px;
                            font-family: vars.$fontPrimary;
                            color: #fff;
                            text-align: left;
                            font-weight: vars.$weightBold;
                            letter-spacing: 1.5px;

                            @media (max-width: 1024px) {
                                font-size: 20px;
                            }

                            @media (max-width: 768px) {
                                font-size: 20px;
                                text-align: center;
                            }

                            @media (max-width: 480px) {
                                font-size: 18px;
                            }

                            &::after {
                                content: '';
                                display: flex;
                                width: 50%;
                                height: 2px;
                                position: relative;
                                box-shadow: -4px 8px 14.5px rgba(0, 0, 0, 0.5);
                                border-radius: 50px;
                                background-color: #fff;
                                opacity: 0.3;

                                @media (max-width: 768px) {
                                    margin: 0 auto;
                                }

                                @media (max-width: 480px) {
                                    width: 80%;
                                }
                            }
                        }

                        p {
                            margin: 0;
                            font-size: 15px;
                            font-family: vars.$fontPrimary;
                            color: #fff;
                            text-align: left;
                            width: 100%;
                            height: auto;
                            min-height: 60px;
                            position: relative;
                            font-weight: vars.$weightBold;
                            letter-spacing: 1.2px;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;

                            @media (max-width: 1024px) {
                                font-size: 14px;
                                min-height: auto;
                            }

                            @media (max-width: 768px) {
                                font-size: 14px;
                                text-align: center;
                            }

                            @media (max-width: 480px) {
                                font-size: 13px;
                            }
                        }

                        a {
                            margin-top: 15px;
                            position: relative;
                            font-size: 17px;
                            letter-spacing: 0.1em;
                            font-family: vars.$fontPrimary;
                            color: #e1ffae;
                            text-align: left;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-weight: vars.$weightBold;
                            letter-spacing: 1.2px;
                            transition: transform 0.3s ease-in-out;

                            &:hover {
                                opacity: 0.8;
                                text-decoration: underline;
                                transform: scale(1.05);
                                transition: transform 0.3s ease-in-out;
                            }

                            @media (max-width: 1024px) {
                                font-size: 16px;
                                margin-top: 12px;
                            }

                            @media (max-width: 768px) {
                                font-size: 15px;
                                justify-content: center;
                            }

                            @media (max-width: 480px) {
                                font-size: 14px;
                            }

                            &::after {
                                content: '';
                                display: inline-block;
                                width: 25px;
                                height: 20px;
                                background-repeat: no-repeat;
                                background-image: url("data:image/svg+xml,%3Csvg width='25' height='20' viewBox='0 0 25 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.557 11.0122L15.5586 19.581C15.2768 19.8493 14.8947 20 14.4962 20C14.0978 20 13.7157 19.8493 13.4339 19.581C13.1522 19.3127 12.9939 18.9488 12.9939 18.5694C12.9939 18.19 13.1522 17.8261 13.4339 17.5578L19.8716 11.4299H1.49974C1.10199 11.4299 0.72052 11.2795 0.439264 11.0116C0.158008 10.7438 0 10.3805 0 10.0018C0 9.62302 0.158008 9.25977 0.439264 8.99194C0.72052 8.72411 1.10199 8.57365 1.49974 8.57365H19.8716L13.4364 2.4422C13.1547 2.17391 12.9964 1.81003 12.9964 1.43061C12.9964 1.05119 13.1547 0.687307 13.4364 0.419016C13.7182 0.150724 14.1003 5.65382e-09 14.4987 0C14.8972 -5.65382e-09 15.2793 0.150724 15.5611 0.419016L24.5595 8.98781C24.6994 9.12067 24.8103 9.27852 24.8858 9.45231C24.9614 9.6261 25.0002 9.81239 25 10.0005C24.9998 10.1886 24.9605 10.3748 24.8845 10.5484C24.8085 10.722 24.6972 10.8796 24.557 11.0122Z' fill='%23E1FFAE'/%3E%3C/svg%3E%0A");
                                background-size: contain;

                                @media (max-width: 1024px) {
                                    width: 22px;
                                    height: 18px;
                                }

                                @media (max-width: 480px) {
                                    width: 20px;
                                    height: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}