@use '../../styles/variables' as vars;

.containerMainFooter {
    padding: 50px 228px 0 228px;
    font-family: vars.$fontPrimary;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media(max-width: 1400px) {
        padding: 50px 128px 0 128px;
    }

    @media(max-width: 1024px) {
        padding: 50px 32px 0 32px;
    }

    .containerContentFooter {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @media(max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }


        .containerLogoFooter {
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media(max-width: 1024px) {
                align-items: center;
            }

            .logoFooter {
                max-width: 279px;
                max-height: 156px;
                width: 100%;
                height: 100%;

            }

            .fraseImpacto {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: vars.$weightBold ;
                color: vars.$colorGrafite;
                max-width: 279px;
                width: 100%;
                margin: 0;
            }

            .containerRedesSociais {
                display: flex;
                flex-direction: row;
                gap: 8px;

                .iconeInsta::after {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.5 3.75H12.5C10.1801 3.75248 7.95596 4.67515 6.31556 6.31556C4.67515 7.95596 3.75248 10.1801 3.75 12.5V27.5C3.75248 29.8199 4.67515 32.044 6.31556 33.6844C7.95596 35.3249 10.1801 36.2475 12.5 36.25H27.5C29.8199 36.2475 32.044 35.3249 33.6844 33.6844C35.3249 32.044 36.2475 29.8199 36.25 27.5V12.5C36.2475 10.1801 35.3249 7.95596 33.6844 6.31556C32.044 4.67515 29.8199 3.75248 27.5 3.75ZM20 27.5C18.5166 27.5 17.0666 27.0601 15.8332 26.236C14.5999 25.4119 13.6386 24.2406 13.0709 22.8701C12.5032 21.4997 12.3547 19.9917 12.6441 18.5368C12.9335 17.082 13.6478 15.7456 14.6967 14.6967C15.7456 13.6478 17.082 12.9335 18.5368 12.6441C19.9917 12.3547 21.4997 12.5032 22.8701 13.0709C24.2406 13.6386 25.4119 14.5999 26.236 15.8332C27.0601 17.0666 27.5 18.5166 27.5 20C27.4979 21.9885 26.7071 23.8949 25.301 25.301C23.8949 26.7071 21.9885 27.4979 20 27.5ZM29.375 12.5C29.0042 12.5 28.6416 12.39 28.3333 12.184C28.025 11.978 27.7846 11.6851 27.6427 11.3425C27.5008 10.9999 27.4637 10.6229 27.536 10.2592C27.6084 9.89549 27.787 9.5614 28.0492 9.29917C28.3114 9.03695 28.6455 8.85837 29.0092 8.78603C29.3729 8.71368 29.7499 8.75081 30.0925 8.89273C30.4351 9.03464 30.728 9.27496 30.934 9.58331C31.14 9.89165 31.25 10.2542 31.25 10.625C31.25 11.1223 31.0525 11.5992 30.7008 11.9508C30.3492 12.3025 29.8723 12.5 29.375 12.5ZM25 20C25 20.9889 24.7068 21.9556 24.1573 22.7779C23.6079 23.6001 22.827 24.241 21.9134 24.6194C20.9998 24.9978 19.9945 25.0969 19.0245 24.9039C18.0546 24.711 17.1637 24.2348 16.4645 23.5355C15.7652 22.8363 15.289 21.9454 15.0961 20.9755C14.9031 20.0055 15.0022 19.0002 15.3806 18.0866C15.759 17.173 16.3999 16.3921 17.2221 15.8427C18.0444 15.2932 19.0111 15 20 15C21.3261 15 22.5979 15.5268 23.5355 16.4645C24.4732 17.4021 25 18.6739 25 20Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 40px;
                    display: block;

                }

                .iconeLinkedin::after {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.75 3.75H6.25C5.58696 3.75 4.95107 4.01339 4.48223 4.48223C4.01339 4.95107 3.75 5.58696 3.75 6.25V33.75C3.75 34.413 4.01339 35.0489 4.48223 35.5178C4.95107 35.9866 5.58696 36.25 6.25 36.25H33.75C34.413 36.25 35.0489 35.9866 35.5178 35.5178C35.9866 35.0489 36.25 34.413 36.25 33.75V6.25C36.25 5.58696 35.9866 4.95107 35.5178 4.48223C35.0489 4.01339 34.413 3.75 33.75 3.75ZM15 27.5C15 27.8315 14.8683 28.1495 14.6339 28.3839C14.3995 28.6183 14.0815 28.75 13.75 28.75C13.4185 28.75 13.1005 28.6183 12.8661 28.3839C12.6317 28.1495 12.5 27.8315 12.5 27.5V17.5C12.5 17.1685 12.6317 16.8505 12.8661 16.6161C13.1005 16.3817 13.4185 16.25 13.75 16.25C14.0815 16.25 14.3995 16.3817 14.6339 16.6161C14.8683 16.8505 15 17.1685 15 17.5V27.5ZM13.75 15C13.3792 15 13.0166 14.89 12.7083 14.684C12.4 14.478 12.1596 14.1851 12.0177 13.8425C11.8758 13.4999 11.8387 13.1229 11.911 12.7592C11.9834 12.3955 12.162 12.0614 12.4242 11.7992C12.6864 11.537 13.0205 11.3584 13.3842 11.286C13.7479 11.2137 14.1249 11.2508 14.4675 11.3927C14.8101 11.5346 15.103 11.775 15.309 12.0833C15.515 12.3916 15.625 12.7542 15.625 13.125C15.625 13.6223 15.4275 14.0992 15.0758 14.4508C14.7242 14.8025 14.2473 15 13.75 15ZM28.75 27.5C28.75 27.8315 28.6183 28.1495 28.3839 28.3839C28.1495 28.6183 27.8315 28.75 27.5 28.75C27.1685 28.75 26.8505 28.6183 26.6161 28.3839C26.3817 28.1495 26.25 27.8315 26.25 27.5V21.875C26.25 21.0462 25.9208 20.2513 25.3347 19.6653C24.7487 19.0792 23.9538 18.75 23.125 18.75C22.2962 18.75 21.5013 19.0792 20.9153 19.6653C20.3292 20.2513 20 21.0462 20 21.875V27.5C20 27.8315 19.8683 28.1495 19.6339 28.3839C19.3995 28.6183 19.0815 28.75 18.75 28.75C18.4185 28.75 18.1005 28.6183 17.8661 28.3839C17.6317 28.1495 17.5 27.8315 17.5 27.5V17.5C17.5016 17.1938 17.6154 16.8989 17.82 16.6711C18.0246 16.4433 18.3057 16.2985 18.61 16.2642C18.9142 16.2299 19.2205 16.3085 19.4707 16.485C19.7208 16.6615 19.8975 16.9237 19.9672 17.2219C20.8128 16.6482 21.7987 16.3158 22.819 16.2602C23.8393 16.2046 24.8554 16.428 25.7584 16.9063C26.6613 17.3847 27.4169 18.1 27.9439 18.9754C28.471 19.8508 28.7497 20.8532 28.75 21.875V27.5Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 40px;
                    display: block;

                }

                .iconeWpp::after {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8406 22.6924L27.4344 24.4861C27.264 25.3373 26.8036 26.103 26.1317 26.6527C25.4598 27.2023 24.6181 27.5019 23.75 27.5002C20.7673 27.4969 17.9078 26.3105 15.7987 24.2015C13.6896 22.0924 12.5033 19.2328 12.5 16.2502C12.4998 15.3832 12.7999 14.5429 13.3495 13.8723C13.899 13.2017 14.6639 12.7422 15.5141 12.572L17.3078 16.1658L15.7812 18.4377C15.6672 18.6088 15.5971 18.8054 15.5772 19.0101C15.5573 19.2148 15.5882 19.4212 15.6672 19.6111C16.5615 21.7367 18.2525 23.4277 20.3781 24.322C20.5686 24.4045 20.7766 24.4383 20.9834 24.4203C21.1901 24.4023 21.3892 24.3331 21.5625 24.2189L23.8406 22.6924ZM36.25 20.0002C36.2506 22.8057 35.5249 25.5636 34.1434 28.0054C32.7619 30.4472 30.7718 32.4898 28.3667 33.9343C25.9616 35.3788 23.2236 36.176 20.419 36.2483C17.6144 36.3206 14.8388 35.6656 12.3625 34.347L7.04219 36.1205C6.6017 36.2674 6.129 36.2887 5.67707 36.182C5.22515 36.0754 4.81185 35.845 4.48352 35.5167C4.15518 35.1883 3.92477 34.775 3.81812 34.3231C3.71147 33.8712 3.73279 33.3985 3.87969 32.958L5.65312 27.6377C4.49398 25.4583 3.84656 23.0436 3.76 20.5767C3.67343 18.1098 4.15001 15.6556 5.15355 13.4004C6.15708 11.1452 7.66121 9.14821 9.55175 7.56109C11.4423 5.97398 13.6696 4.83842 16.0645 4.2406C18.4594 3.64279 20.9591 3.59843 23.3737 4.1109C25.7883 4.62337 28.0545 5.6792 30.0001 7.19825C31.9458 8.71729 33.5198 10.6596 34.6027 12.8778C35.6856 15.096 36.249 17.5318 36.25 20.0002ZM30 23.7502C30.0002 23.5179 29.9356 23.2903 29.8137 23.0927C29.6917 22.8951 29.517 22.7353 29.3094 22.6314L24.3094 20.1314C24.1126 20.0333 23.8934 19.9889 23.6739 20.0026C23.4544 20.0164 23.2424 20.0877 23.0594 20.2095L20.7641 21.7408C19.7104 21.1616 18.8433 20.2945 18.2641 19.2408L19.7953 16.9455C19.9171 16.7624 19.9885 16.5504 20.0022 16.331C20.0159 16.1115 19.9715 15.8923 19.8734 15.6955L17.3734 10.6955C17.2698 10.4862 17.1096 10.3102 16.9111 10.1873C16.7125 10.0644 16.4835 9.99956 16.25 10.0002C14.5924 10.0002 13.0027 10.6587 11.8306 11.8308C10.6585 13.0029 10 14.5926 10 16.2502C10.0041 19.8956 11.4541 23.3906 14.0318 25.9683C16.6096 28.5461 20.1045 29.996 23.75 30.0002C24.5708 30.0002 25.3835 29.8385 26.1418 29.5244C26.9001 29.2103 27.5891 28.75 28.1694 28.1696C28.7498 27.5892 29.2102 26.9002 29.5242 26.1419C29.8383 25.3837 30 24.5709 30 23.7502Z' fill='%236A8E3E'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 40px;
                    display: block;

                }
            }
        }

        .linksRapidos {
            display: flex;
            flex-direction: column;

            @media(max-width: 1024px) {
                align-items: center;
            }

        }

        .contatos {
            display: flex;
            flex-direction: column;

            @media(max-width: 1024px) {
                align-items: center;
            }

        }

        .parceiros {
            display: flex;
            flex-direction: column;

            @media(max-width: 1024px) {
                align-items: center;
            }

        }
    }

}

.titulosFooter {
    font-size: 20px;
    font-family: vars.$fontPrimary;
    color: #6A8E3E;
    margin: 0;
    margin-bottom: 12px !important;

}

.listasFooter {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;

    @media(max-width: 1024px) {
        align-items: center;
    }


    li {
        list-style: none;
        color: #706F6F !important;
        font-size: 15px;
        font-weight: vars.$weightBold;
        font-family: vars.$fontPrimary;
        letter-spacing: 2px;

        a {
            text-decoration: none;
            color: #706F6F !important;
            letter-spacing: 2px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.copyRight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #A79F9F;
    font-family: vars.$fontPrimary;
    margin-top: 50px;
    padding-bottom: 20px;

    p {
        color: #706F6F;
        font-size: 13px;
        font-weight: vars.$weightBold ;
        letter-spacing: 3px;
        text-align: center;
    }

    a {
        color: #706F6F;
        font-size: 13px;
        font-weight: vars.$weightBold ;
        letter-spacing: 3px;
        text-align: end;
        text-decoration: none;
        margin-right: 20px;

        @media(max-width: 1024px) {
            font-size: 10px;
        }
    }
}